<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name = "dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name = "connection.url">
            jdbc:mysql://localhost:3306/wandfluh?useUnicode=true&amp;useSSL=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC
        </property>
        <property name = "connection.username">admin</property>
        <property name = "connection.password">admin</property>

        <!--<property name="connection.pool_size">1</property>-->
        <property name="show_sql">true</property>

        <mapping class="com.alphahydro.wandfluh.Entity.Category" />
        <mapping class="com.alphahydro.wandfluh.Entity.CategoryProperties" />
        <mapping class="com.alphahydro.wandfluh.Entity.Product" />
        <mapping class="com.alphahydro.wandfluh.Entity.ProductConstruction" />
        <mapping class="com.alphahydro.wandfluh.Entity.ProductSize" />
        <mapping class="com.alphahydro.wandfluh.Entity.ProductType" />
        <mapping class="com.alphahydro.wandfluh.Entity.ProductControl" />

    </session-factory>
</hibernate-configuration>